.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.none-toppage, .none-toppage:hover{
  color: #878787;
  text-decoration: none;
} 

.chart-area-wrapper {
  margin-bottom: 10px;
}

@media (max-width: 568px) {
  .font-sm {
    font-size: 0.8rem;
  }
}
